@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

body {
  font-family: "General Sans", sans-serif;
}

.heading {
  font-family: "Bebas neue", sans-serif;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader {
  border: 5px solid transparent;
  border-top: 5px solid #291334;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1.3s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}

/* Fade-in CSS */
.fade-in {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.fade-in.visible {
  opacity: 1;
}
